

.navbar{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.item {
  padding-right: 50px;
}

.item > a {
  text-decoration: none;
  font-size: larger;
}

.item > a:visited {
  color: black;
}

.container-home {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(222, 184, 114);
  height: 300px;
  padding: 50px;
  border-radius: 20%;
}

.container-home > p {
  font-style: italic;
}

.button-login {
  margin: 5px;
}

