

.navbar{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.item {
  padding-right: 50px;
}

.item > a {
  text-decoration: none;
  font-size: larger;
}

.item > a:visited {
  color: black;
}

